<div class='container-fluid'>
    <div class="row">
        <div class="col-md-12" [formGroup]="searchFormGroup">
            <input type="text" class="form-control" [value]="searchString" [formControl]="seachControl" placeholder="search...">
        </div>
    </div><br />
    <div class="row">        
        <div class="col-md-12" *ngIf="model.query != ''" class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Tag</th>
                                    <th>UserName</th>
                                    <th>Id</th>
                                    <th>View</th>
                                </tr>      
                            </thead>
                            <tbody>
                                <tr *ngFor="let result of searchResults.queryResponses">
                                    <td>{{result.tag}}</td>
                                    <td>{{result.username}}</td>
                                    <td>{{result.id}}</td>
                                    <td><button type="button" class="btn btn-primary btn-xs" (click)="view(result.id)">view</button></td>
                                </tr>
                            </tbody>   
                        </table>        
                    </div>                    
                </div>
                <div  class="row">
                    <div class="col-md-12">
                        <b>search:</b> {{model.query}} | <b>result count:</b> {{resultCount}} | <b>status:</b> {{serviceResponseStatus}} | <b>message:</b> {{serviceResponseMessage}}
                    </div>
                </div>
            </div>    
        </div>     
    </div>
</div>